body{
	margin:0;
	padding:0;
	background-image: url(https://i1.wp.com/media1.giphy.com/media/l46CdoZqbJxQMOvjW/giphy.gif);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.wrapper{
	height: 100%;
	width: 100%;
	/*border:2px solid red;*/

}

.left{
	/*border:2px solid blue;*/
	height: 100%;
	width: 44%;
	float: left;

}



.heading{

}


.logo{
	size: 20%;


}



.right{
	/*border:2px solid blue;*/
	height: 100%;
	width: 54%;
	float: right;
	padding-bottom: 53%;
}

.Soft{
	height: 30%;
	width: 50%;
}

.Edu{
	height: 10%;
	width: 20%;
}
